.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  padding: 3px 2px;
  border-left-color: black;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: grey;

}
.titleHead{
  flex-wrap: nowrap;
  align-self: center;
  margin: 21 10;
  background-color: yellow;
}

.header li{
  display: inline;
  padding: 10px;
  margin: 4px;
  height: 20px;
  background-color: blue;
}

.logo{
  display: flex;
  color: MediumAquamarine;
  margin-left: 20px;
  background-color: red;
}

.navHead a{
  color: black;
  background-color: MediumAquamarine;
}
